.fun{
    width: 800px;
    background-color: rgb(183, 183, 202);
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    border-radius: 10px;
}


.info span{
    margin-left: 30px;
    font-weight: 700;
}

.info p{
    text-align: start;
    margin: 10px;
}

.info h2{
    text-align: center;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo{
    align-content: center;
    justify-items: center;
}

.btn_voltar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
}